.form-container {
  padding: 10px 30px 30px 30px;
  background-color: #fff;
  border: thin solid $gray-border;
  margin: 0 auto;
  width: 50%;
  form {
    display: flex;
    flex-direction: column;
  }
  input, select {
    height: 30px;
    margin-top: 20px;
  }
}

.field_with_errors {
  input {
    width: calc(100% - 8px);
  }
  select {
    width: 100%;
  }
}

.form-errors {
  p {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
    color: red;
  }
}
