.navbar {
  position: relative;
  height: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $deep-blue;
  color: #fff;
  p {
    margin: 0;;
    font-size: 24px;
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $ligth-blue;
    }
  }
  .app-title {
    position: absolute;
    width: 140px;
    text-align: center;
    left: calc(50% - 70px);
    display: flex;
    align-items: center;
    a {
      font-size: 25px;
    }
    h2 {
      margin-left: 10px;
    }
    @include phone {
      h2 {
        display: none;
      }
      justify-content: center;
    }
  }
}

.user-infos {
  select {
    border-radius: 5px;
    width: 100%;
    color: #fff;
    &:focus-visible {
      outline: none;
    }
  }

  select.busy {
    background-color: #aa9200;
  }

  select.available {
    background-color: green;
  }

  select.away {
    background-color: black;
  }

  @include phone {
    p {
      display: none;
    }
  }
}
